<ng-container *ngIf="rawWidget$ | async as rawWidget">
  <div id="widgets-wrapper">
    <h2>Widgets UI:</h2>

    <ng-container *ngFor="let type of WidgetTypes">
      <ng-container [widgetUi]="rawWidget"
                    [transform]="transformer"
                    [capabilities]="capabilities"
                    [type]="type">
      </ng-container>
    </ng-container>
  </div>

  <widget-ui-widget-form *ngIf="rawWidget"
                         [description]="existingWidgetFormDescription"
                         [title]="'Existing Widget:'"
                         [rawWidget]="rawWidget">
  </widget-ui-widget-form>

  <widget-ui-widget-form [title]="'New Widget:'"
                         [description]="newWidgetFormDescription">
  </widget-ui-widget-form>

  <widget-ui-capabilities [config]="rawWidget.config"
                          (toggleCanEdit)="toggleCanEdit($event)">
  </widget-ui-capabilities>
</ng-container>
