:host {
  width: 100%;
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-column-gap: 40px;

  height: 100vh;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

#widgets-wrapper, #capabilities-wrapper {
  align-self: start;
  justify-content: center;
  display: grid;
  grid-row-gap: 20px;
  padding: 20px;
  position: relative;
}


::ng-deep {
  widget-ui-widget-form {
    padding-bottom: 50px;
  }

  .content{
    padding: 10px ;
  }

  .widget {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    border: 1px dotted black;
    border-radius: 5px;

    header {
      text-align: center;
      width: 100%;
      background: blanchedalmond;
      font-size: 22px;
      font-weight: bold;
      padding: 5px ;
      box-sizing: border-box;
      margin-bottom: 2px;
    }
  }
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  :host {
    grid-template-columns: 1fr; /* Adjust the grid layout for smaller screens */
  }

  .widget header {
    font-size: 18px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  :host {
    grid-template-columns: 1fr; /* Single column layout for very small screens */
    grid-row-gap: 20px;
  }

  .widget {
    margin-bottom: 10px; /* Space out widgets on smaller screens */
  }
}
